*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}

#webgl-container, #css3d-container, canvas{
    position: absolute;
    top: 0;
}

h1{
    color: orange;
}